/*
font-family: 'Niconne', cursive;
font-family: 'Elsie Swash Caps', cursive;
font-family: 'Elsie', cursive;
font-family: 'Raleway', sans-serif;

*/

/* TAB 01 */

* {

margin: 0;
padding: 0;
}
.active{
	background-color:#ffe65a!important;
}

body{
	background-image:url(../img/light.png);
}
#container{
}

/* Resume */

.button{
	background-color: #333;
	cursor:pointer;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, .2);  
    -moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, .2); 
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, .2);
}
	.button span{
		text-align: center;
		font-family: 'Niconne', cursive;
		font-size:25px;
		color: white;
		line-height: 20px;
		display: block;
		font-weight: normal;
	}
	.button:hover{
		background-color: #ffe65a;
	}
	.button:hover span{
		color: #333;
	}
#resume_btn{
	width: 95px;
	height: 60px;
	position: fixed;
	top:-10px;
	left:10px;
	z-index:50;
}
	#resume_btn span{
		margin-top: 15px;
	}
#download_resume{
	height: 21px;
	padding: 20px 0;
	width: 256px;
	margin: 63px auto 0 auto;
	display: block;
	text-decoration: none;
}


#bottom_feeder{
	height:250px;
}


#resume{
	background-color: none;
	height: 0px;
	position: relative;	
	overflow: hidden;
	-webkit-box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, .2);  
    -moz-box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, .2); 
    box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, .2);
}
	#resume .h1{
		margin-top: 30px;
	}

#download_resume{
	clear: both;
	text-align: center;
	margin-top: 63px;
}
/* *** */

.section {
	background-color:#FFF;
	height: 250px;
	margin: 0 auto;
	position: relative;
	border-bottom-style:dashed;
	border-bottom-width: 1px;
	/*cursor:pointer;*/
	overflow:hidden;

	-webkit-transition-property:color, background-color; 
	-webkit-transition-duration: .25s, .25s; 
	-webkit-transition-timing-function: linear, ease-in;
}

.f_diag {
	background:white;

	background-image:url(../img/lined.png);
	/*background: white;*/
	/*z-index: 1;*/
}

.b_diag {
	background:white;

	background-image:url(../img/lined3.png);
	/*background: white;*/
	/*z-index: 1;*/
}

.arrow_block{
	height: 18px;
	margin: 0 auto;
	position: absolute;
	width: 100%;
}
	.shadow{
	height: 100%;
	width:100%;
	background-image:url(../img/shadow.png);
	background-repeat:no-repeat;
	background-position: center;
	position: relative;
	top: -1px;
	z-index: 1;
}
	.arrow{
	background-image:url(../img/arrows.png);
	background-position: center;
	background-color: #ffe65a;
	background-repeat: no-repeat;
	height: 25px;
	width: 25px;
	margin: 0 auto;
	border-radius: 25px;
	position: absolute;
	top: -10px;
	-moz-box-shadow: 0px 3px rgba(204, 204, 204, .46);
    -webkit-box-shadow: 0px 3px rgba(204, 204, 204, .46);
    box-shadow: 0px 3px rgba(204, 204, 204, .46);
	border: 1px dashed #333;
	z-index:10;
	left:49%;
}


/* PORTFOLIO SECTION */
#project_section{
	/*padding-bottom: 30px;*/
}
#project_header{
		cursor: pointer;
	}
#projects_container{
	margin: 0 auto;
	width: 900px;
	position: relative;
	z-index:5;
	overflow: hidden;
}
	.project_box{
		position: relative;
	}

#project_list{
	z-index:6;
	/*height: 900px;*/
	/*background-color: white;*/

	/*min-height:300px;*/
	/*top: -900px;*/
}

	.project_thumb{
		width: 33.3%;
		/*height:33.3%;*/
		background-color: grey;
		float:left;
		cursor: pointer;
		display: block;

		background-repeat:no-repeat;
		background-position:center center;
		background-size: 100%;
	}
	.project_thumb img{
		width: 100%;
		/*height:100%;*/
		display: block;
	}
	/*.project_thumb:hover img{
		opacity:0;
  		
	}*/

	.project_thumb:hover{
		background-color: white;
	}

#single_project{
	/*background-color: white;*/
	width: 100%;
	height: 900px;
	top: 0;
	z-index:5;
	position: absolute;
}
	#single_project h1, #single_project p{
		text-align: center;
	}

	#project_title{
		font-family: 'Raleway', sans-serif;
		font-weight: 100;
		text-align: center;
		text-shadow: 1px 2px #cccccc;
		font-size: 30px;
		letter-spacing: 0;
		color: #333;
	}
	#project_description{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 17px;
		max-width: 500px;
		margin: 6px auto 0 auto;
	}
/* *** */

/* Slider */
/* Slider Styles*/
	#banner-fade{
		margin: 10px auto 0 auto;
	}
#banner-fade,
#banner-slide{
	margin-bottom: 40px;
}
	ul.bjqs-controls.v-centered li a{
		display:block;
		padding:10px;
		background:#fff;
		color:#000;
		text-decoration: none;
	}

	ul.bjqs-controls.v-centered li a:hover{
		background:#000;
		color:#fefefe;
	}

	ol.bjqs-markers li a{
		padding: 0 5px;
		background:#fefefe;
		/*color:#fff;*/
		margin:5px;
		text-decoration: none;
		color: transparent;
		border: 1px solid #c3c3c3;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
	}

	ol.bjqs-markers li.active-marker a,
	ol.bjqs-markers li a:hover{
		background: #333;
	}

	p.bjqs-caption{
		background: rgba(255,255,255,0.5);
	}
.close_btn {
	background:url(../img/close_x.png) no-repeat;
	background-position: center;
	background-color: #fff;
	height: 32px;
	width: 32px;
	border-radius: 25px;
	-moz-box-shadow: 1px 2px rgba(204, 204, 204, .46);
    -webkit-box-shadow: 1px 2px rgba(204, 204, 204, .46);
    box-shadow: 1px 2px rgba(204, 204, 204, .46);
	border: 1px solid #333;
	z-index:5;
	position: absolute;
	right: 5px;
	cursor: pointer;
}
	.close_btn:hover{
	background-color: #ffe65a;
}

/* *** */


/* CONTACT SECTION */
.iconbg {
	width: 85px;
	height: 85px;
	background: url(../img/social_sprite.png) no-repeat;
	position:relative;
	margin: 0px 10px;
	float: left;
	text-decoration: none;
}
	#linkedin{
		/*background-position-x: 0;*/
		background-position: 0 0;
	}
	#linkedin:hover{
		background-position: 0 100%;
	}
	#twitter{
		background-position:-172px 0;
	}
	#twitter:hover{
		background-position:-172px 100%;
	}
	#facebook{
		background-position: -86px 0;
	}
	#facebook:hover{
		background-position: -86px 100%;
	}
.iconbg:hover{
	background-position: bottom;
}

#contact_section p{
	font-family: 'Niconne', cursive;
	font-size: 40px;
	text-align: center;
}
	#contact_section p span{
		font-family: Arial, Helvetica, sans-serif;
		font-weight: lighter;
	}
/* *** */



/**************************************/

#bold {
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size: 20px;
}


#scroll { 
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;
  display: block;
  /* edit: added z-index */
  z-index: 3;
  /* edit: fixes overlap error in IE7/8, 
     make sure you have an empty gif */
  /*****background-image: url('empty.gif');******/
}  

.and3 {
	font-family: 'Niconne', cursive;
	font-size: 25px;
	text-align: center;
	text-shadow: 1px 2px #cccccc;
	letter-spacing: 0;
	font-weight: lighter;
	color: #333;
	position:relative;
	margin: 0px auto;
	height: 0px;
	top: 3px;
	padding: 0 2px;
}


#headerbg {
	background-color:#FFF;
	height: 250px;
	margin: 0 auto;
	position: relative;
	border-bottom-style:dashed;
	border-bottom-width: 1px;
	background-image:url(../img/lined.png);
	z-index: 1;
	
-webkit-transition-property:color, background-color; 
-webkit-transition-duration: .25s, .25s; 
-webkit-transition-timing-function: linear, ease-in;
	
}

#overlap {
	font-family: 'Niconne', cursive;
	font-size: 35px;
	text-align: center;
	font-weight: lighter;
	text-shadow: 2px 3px rgba(204, 204, 204, .46);
	color: #333;
	position:relative;
	height: 250px;
	width: 550px;
	margin: 0 auto;
	/*top: -44px;*/
}

#social {
	font-family: 'Elsie', cursive;
	font-size: 55px;
	text-align: center;
	font-weight: bolder;
	text-shadow: 2px 3px rgba(204, 204, 204, .46);
	color: #333;
	position:relative;
	width: 315px;
	margin: 0 auto;
	top: 34px;
	z-index: 3;
}

#header {
	font-family: 'Elsie', cursive;
	text-align:center;
	text-shadow: 2px 3px rgba(204, 204, 204, .46);
	font-size: 190px;
	font-weight: bolder;
	letter-spacing: 0.0em;
	height: 250px;
	color: #333;
	margin: 0 auto;
	top: -10px;
	position: relative;

}

.and2 {
	font-family: 'Niconne', cursive;
	font-size: 25px;
	text-align: center;
	text-shadow: 1px 2px #cccccc;
	letter-spacing: 0;
	font-weight: lighter;
	color: #333;
	position:relative;
	margin: 0px auto;
	height: 0px;
	left: -12px;
	top: -2px;
}

.subhead {
	/*font-family: 'Raleway Dots', cursive;*/
	font-family: 'Raleway', sans-serif;
	text-align: center;
	text-shadow: 1px 3px #cccccc;
	font-size: 20px;
	letter-spacing: 0;
	color: #333;
	margin: 0 auto;
	position: relative;
	width: 500px;
	height: 0px;
	left: 0px;
	top: -4px;
}

#header .circle {
	width: 80px;
	height: 80px;
	background-image: url(../img/lined.png);
	background-repeat: inherit;
	background-color:#FFF;
	border-radius: 50px;
	position:relative;
	margin: 0px auto;
	left: -105px;
	top: -95px;
	-moz-box-shadow: 2px -2px rgba(204, 204, 204, 0.46);
    -webkit-box-shadow: 2px -2px rgba(204, 204, 204, 0.46);
    box-shadow: 2px -2px rgba(204, 204, 204, 0.46);
 
-webkit-transition-property:color, background-color; 
-webkit-transition-duration: .25s, .25s; 
-webkit-transition-timing-function: linear, ease-in;	

	
}

.iam {
	font-family: 'Niconne', cursive;
	font-size: 35px;
	font-weight: lighter;
	text-shadow: 1px 1px #cccccc;
	letter-spacing: 0;
	color: #333;
	position:relative;
	margin: 0px auto;
	top: 11px;
	
}

.name {
	/*font-family: 'Raleway Dots', cursive;*/
	font-family: 'Raleway', sans-serif;
	text-align:center;
	text-shadow: 1px 2px rgba(204, 204, 204, 1.26);
	font-size: 40px;
	font-weight: 100;
	letter-spacing: 0;
	color: #333;
	margin: 0 auto;
	position: relative;
	width: 500px;
	height: 20px;
	top: 4px;
	left: -107px;
}


#shadows{
	height: 18px;
	margin: 0 auto -2px auto;
	position: relative;
	top: -2px;
	

}

/* TAB 02 */


#headerbg2 {
	background-color:#FFF;
	height: 250px;
	margin: 0 auto;
	position: relative;
	border-bottom-style:dashed;
	border-bottom-width: 1px;
	background-image:url(../img/lined3.png);
	top: 0px;
	z-index: 2;
	
-webkit-transition-property:color, background-color; 
-webkit-transition-duration: .25s, .25s; 
-webkit-transition-timing-function: linear, ease-in;
}

.whati {
	font-family: 'Niconne', cursive;
	font-size: 35px;
	text-align: center;
	text-shadow: 1px 2px #cccccc;
	font-weight: lighter;
	letter-spacing: 0;
	color: #333;
	position:relative;
	margin: 0px auto;
	left: -5px;
	top: 15px;
	
}

.do {
	font-family: 'Elsie', cursive;
	font-weight: 900;
	font-size: 190px;
	text-align: center;
	text-shadow: 1px 2px #cccccc;
	letter-spacing: 0;
	color: #333;
	position:relative;
	margin: 0px auto;
	height: 215px;
	top: -27px;
	
}

#project_header .circle {
	width: 80px;
	height: 80px;
	/*background-image: url(../img/lined.png);*/
	background-repeat: inherit;
	background-color:#FFF;
	border-radius: 50px;
	position:relative;
	margin: 0px auto;
	left: 4px;
	top: -95px;
	-moz-box-shadow: 2px -2px rgba(204, 204, 204, 0.46);
    -webkit-box-shadow: 2px -2px rgba(204, 204, 204, 0.46);
    box-shadow: 2px -2px rgba(204, 204, 204, 0.46);
	
	-webkit-transition-property:color, background-color; 
	-webkit-transition-duration: .25s, .25s; 
	-webkit-transition-timing-function: linear, ease-in;
}

.is {
	font-family: 'Niconne', cursive;
	font-size: 35px;
	font-weight: lighter;
	text-shadow: 1px 1px #cccccc;
	letter-spacing: 0;
	color: #333;
	position:relative;
	margin: 0px auto;
	top: 11px;
	
}

.name2 {
	/*font-family: 'Raleway Dots', cursive;*/
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	text-align: center;
	text-shadow: 1px 2px #cccccc;
	font-size: 20px;
	letter-spacing: 0;
	color: #333;
	margin: 0 auto;
	position: relative;
	width: 500px;
	height: 0px;
	left: -215px;
	top: 11px;
}


.do1 {
	height: 75px;
	width: 118px;
	background-image:url(../img/doleft.png);
	background-repeat:no-repeat;
	background-position: center;
	position:relative;
	margin: 0 auto;
	right: 198px;
	top: -253px;
}

.do2 {
	height: 75px;
	width: 118px;
	background-image:url(../img/doright.png);
	background-repeat:no-repeat;
	background-position: center;
	position:relative;
	margin: 0 auto;
	right: -207px;
	top: -328px;
}



/* TAB 03 */

#headerbg3 {
	background-color:#FFF;
	height: 250px;
	margin: 0 auto;
	position: relative;
	border:#333;
	border-bottom-style:dashed;
	border-bottom-width: 1px;
	background-image:url(../img/lined.png);
	top: 0px;
	z-index: 3;
	
	-webkit-transition-property:color, background-color; 
	-webkit-transition-duration: .25s, .25s; 
	-webkit-transition-timing-function: linear, ease-in;
}

#contact {
	font-family: 'Elsie', cursive;
	text-align:center;
	text-shadow: 2px 3px rgba(204, 204, 204, .46);
	font-size: 88px;
	font-weight: bolder;
	letter-spacing: 0.0em;
	height: 250px;
	color: #333;
	margin: 0 auto;
	top: 10px;
	position: relative;

}

.info {
	/*font-family: 'Raleway Dots', cursive;*/
	font-family: 'Raleway', sans-serif;
	text-align: center;
	text-shadow: 1px 2px #cccccc;
	font-size: 20px;
	font-weight: 100;
	letter-spacing: 0;
	color: #333;
	margin: 0 auto;
	position: relative;
	left: 0px;
	top: -10px;
}

.and {
	font-family: 'Niconne', cursive;
	font-size: 55px;
	text-align: center;
	text-shadow: 1px 2px #cccccc;
	letter-spacing: 0;
	font-weight: lighter;
	color: #333;
	position:relative;
	margin: 0px auto;
	left: 0px;
	top: -10px;
}





.container {
	margin: 0 auto;
	position: relative;
	max-width: 600px;
	top: 30px;
}
.container2 {
	margin: 0 auto;
	position: relative;
	max-width: 600px;
	top: 45px;
	/*height: 125px;*/
	line-height: 19px;
	padding-bottom: 30px;
}



.h1 {
	font-family: 'Elsie', cursive;
	font-size: 30px;
	text-align: center;
	font-weight: bolder;
	text-shadow: 2px 3px rgba(204, 204, 204, .46);
	color: #333;
	margin: 0 auto;
	border: #ddd;
	width: 300px;
border-bottom-style: dashed;
border-bottom-width: 1px;
}


.h2 {
	/*font-family: 'Raleway Dots', cursive;*/
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	text-align: center;
	font-weight: lighter;
	text-shadow: 2px 3px rgba(204, 204, 204, .46);
	color: #333;
	margin: 0 auto;
}

.h3 {
	/*font-family: 'Raleway Dots', cursive;*/
	font-family: 'Raleway', sans-serif;
	font-size: 25px;
	text-align: center;
	font-weight: bolder;
	text-shadow: 2px 3px rgba(204, 204, 204, .46);
	color: #333;
	margin: 0 auto;
	border: #ddd;
	width: 300px;
border-bottom-style: dashed;
border-bottom-width: 1px;
}

.p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	text-align: center;
	font-weight: lighter;
	text-shadow: 1px 2px rgba(204, 204, 204, .46);
	color: #333;
	position: relative;
	top: 5px;
}


@media handheld, screen and (max-width: 900px) {
	#projects_container{
		width: 100%;
	}
	
	.project_thumb{
			width: 50%;
	}
}


/* Mobile styles */
@media handheld, screen and (max-width: 640px) {

	#resume_btn{
		position: absolute;
		width: 90%;
		left: 6%;
		/*opacity: 0.8;*/
		height: 43px;
	}
	#hello_section{
		padding-top: 30px;
	}
	#resume .h1 {
		margin-top: 50px;
	}
	#download_resume {
		margin-top: 40px;
	}


   #header {
		font-size: 150px; 
		top: 0px;
	}
	#project_header{
		position: relative;
		top: 21px;
	}

	#contact_section p{
		font-size:30px;
	}
	#project_list{
		margin-top: -10px;
		/*height: 1100px;*/
	}

	.project_thumb{
			width: 50%;
	}
	.arrow {
		margin-top:-25px;
	}

	.whati {
		top: 5px;
		
	}

	 .do {
		font-size: 150px;
	}


	.do1 {
		height: 75px;
		width: 118px;
		background-image:url(../img/doleft_small.png);
		background-repeat:no-repeat;
		background-position: center;
		position:relative;
		margin: 0 auto;
		right: 158px;
		top: -213px;
	}

	.do2 {
		height: 75px;
		width: 118px;
		background-image:url(../img/doright_small.png);
		background-repeat:no-repeat;
		background-position: center;
		position:relative;
		margin: 0 auto;
		right: -159px;
		top: -288px;
	}

	.shadow{
		background-image:url(../img/shadow2.png);
		

	}

	#shadows, #shadows2, #shadows3{
		background-image:url(../img/shadow2.png);
		

	}

	#contact {
		font-size: 60px;
		top: 30px;
	}

	#overlap {
		font-size: 30px;
		width: auto;
		padding-left:10px;
		padding-right: 10px;
		margin: 0 auto;
		top: 2px;
	}

	.container {
		width: auto;
		padding-left:10px;
		padding-right: 10px;
		margin: 0 auto;
	}

	.container2 {
		
		width: auto;
		padding-left:10px;
		padding-right: 10px;
		margin: 0 auto;
	}

	.close_btn {
		right:0;
	}

	ul.bjqs-controls.v-centered li.bjqs-next a{
		right:0px;
	}
	ul.bjqs-controls.v-centered li.bjqs-prev a{
		left:0px;
	}

}

/* Mobile styles */
@media handheld, screen and (max-width: 500px) {

	#bold, .h2{
		font-size: 17px;
	}
	.h3{
		font-size: 22px;
	}
	.p{
		font-size: 12px;
	}

	#header {
		font-size: 110px; 
		top: 26px;
	}
	#header .circle{
		width: 55px;
		height: 55px;
		font-size: 24px;
		left: -61px;
		top: -65px;
	}
	.iam {
		font-size: 24px;
	}
	.name{
		font-size: 30px;
		left: -163px;
	}
	.and2 {
		font-size: 20px;
	}
	.subhead {
		font-size: 18px;
	}
	#overlap{
		font-size: 28px;
		line-height: 28px;
	}

	.whati {
		font-size: 30px;
		margin-bottom: 8px;
		top: 5px;
	}
	.do {
		font-size: 128px;
	}
	.is{
		font-size: 30px;
		top: 7px;
	}

	#project_header {
		top: 28px;
		
	}
	#project_header .circle {
		width: 55px;
		height: 55px;
		left: 2px;
		top: -76px;
	}
	.do1{
		height: 35px;
		width: 51px;
		right: 119px;
		top: -163px;
		background-size: 100% 100%;
	}
	.do2{
		height: 35px;
		width: 51px;
		right: -123px;
		top: -197px;
		background-size: 100% 100%;
	}
	.name2{
		font-size: 18px;
	}


	#contact {
		font-size: 50px;
		top: 37px;
		height: 251px;

	}
	.and {
		font-size: 45px;
	}
	#contact_section p {
		font-size: 25px;
		line-height: 18px;
	}

	


	


}
